<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>$title</title>
	<script type="text/javascript" src="../highlight.js"></script>
	<link rel="stylesheet" href="../ref.css" />
	$head_analytics
</head>
<body>
	<div class="header">
		<h1>$title</h1>
	</div>
	<ul>
	$index[[
		<li><a href="#$target">$name</a></li>
	]], [[ <ul> ]] , [[ </ul> ]]
	</ul>
	<div class="main">
		$main
	</div>
	<script type="text/javascript">
		window.onload = function() {
		  new Moon();
		  new Lua();
		}
	</script>
</body>
</html>
