$link_color: #f05a7f;
$sidebar_width: 200px;
$body_color: #727779;

@mixin border_box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    transition: $args;
}

@mixin prefixed($prop, $args...) {
    -webkit-#{$prop}: $args;
    -moz-#{$prop}: $args;
    -ms-#{$prop}: $args;
    #{$prop}: $args;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

body {
    font-family: sans-serif;
    background: #F0F0F0;
    color: #727779;
    font-size: 16px;
    margin: 0px;
    padding: 0px;

    &.nice_fonts {
        font-family: "range";
    }
}

a {
    color: $link_color;
    text-decoration: none;

    &:hover {
        color: lighten($link_color, 5%);
    }
}

.nav {
    width: $sidebar_width;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    bottom: 0;
    color: white;
    background: #2B2B2B;

    a {
        color: lighten(#7A7A7A, 40%);

        &:hover {
            color: lighten(#7A7A7A, 50%);
        }
    }

    .logo {
        text-align: center;
        margin: 20px 0 10px 0;
    }

    h1 {
        display: none;
    }

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        margin-top: 24px;
        margin-left: 24px;
    }

    .primary_nav {
        li {
            line-height: 26px;
            font-size: 15px;
        }

        a {
            $time: 0.3s;
            @include transition(all $time ease);
            color: #7A7A7A;
            position: relative;
            padding-left: 0;

            &:hover, &.active {
                padding-left: 20px;
                color: white;

                &:before {
                    color: #E6E4E4;
                    left: 0;
                }
            }

            &:before {
                @include transition(all $time ease);
                content: "»";
                color: rgba(#E6E4E4, 0);
                position: absolute;
                left: -20px;
            }
        }

    }

    .sharing {
        text-align: left;
        font-size: 0;
        margin-left: 24px;
        margin-top: 24px;

        img {
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 10px;
        }
    }

    .sub_nav {
        color: #7A7A7A;

        li {
            line-height: 24px;
            font-size: 13px;
        }
    }

    .nav_bottom {
        font-size: 13px;
        color: #7A7A7A;
        position: absolute;
        bottom: 20px;
        left: 24px;
        right: 24px;
        line-height: 18px;
    }
}


.main {
    @include border_box;
    @include transition(all 0.5s ease);
    background: white;
    width: 800px;
    overflow: hidden;
    margin-left: $sidebar_width;
    padding: 0 100px 16px 100px;
    opacity: 1;

    &.obscured {
        margin-left: floor($sidebar_width * 2/3);
        opacity: 0.6;
    }

    .message {
        color: $link_color;
        margin: 0px;
        font-size: 20px;
        text-align: center;
        margin: 30px 20px 0 20px;
        padding: 0 90px 20px 90px;
        line-height: 1.5;
        border-bottom: 1px solid #F0F0F0;
    }

    .bubbles {
        display: none;
        text-align: center;
        font-size: 0;
    }

    ul {
        margin: 20px 0px;
    }

    li {
        margin-bottom: 5px;
    }

    p, h2, h3 {
        margin: 26px 0;
    }

    p, ul {
        line-height: 26px;
    }

    pre {
        background: #3C3C3C;
        color: white;
        border-radius: 4px;
        font-family: "range_mono";
        padding: 40px 45px;
        font-size: 14px;

        code {
            font-family: "range_mono";
        }
    }

    .scroll_spacer {
        height: 300px;
    }
}

@mixin bubble-color($color) {
    background: $color;
    $text-color: scale_color($color, $lightness: 90%);
    color: $text-color;
    text-shadow: 1px 1px 0px scale_color($color, $lightness: -40%);

    a {
        color: $text-color;
    }

    &:hover {
        background: lighten($color, 4%);
        a {
            color: lighten($text-color, 6%);
        }
    }

    border-top: 1px solid scale_color($color, $lightness: 70%);
    border-bottom: 4px solid scale_color($color, $lightness: -30%);
}


.bubble {
    display: inline-block;
    vertical-align: bottom;

    background: orange;
    font-size: 20px;

    margin-top: 10px;
    padding: 8px 18px;
    box-shadow: 0px 3px 8px rgba(0,0,0, 0.2), inset 0 0 10px rgba(0,0,0, 0.1);
    border-top: 1px solid #FFE8BF;
    border-bottom: 4px solid #DB8E00;

    background: #E6AC43;

    @include bubble-color(#E6AC43);

    &.center {
        font-size: 26px;
        @include bubble-color(orange);
        position: relative;
        z-index: 2;
        top: 2px;

        &:active {
            top: 3px;
        }
    }

    &:active {
        z-index: 1;
        position: relative;
        top: 1px;
    }
}

.l_string { color: #ffe898; }
.l_symbol { color: #ff9898; }
.l_keyword { color: #cb98ff; font-weight: bold; }
.l_proper, .l_self_var { color: #98d9ff; }
.l_fn_symbol { color: #9fff98; }

.footer {
    $bg: lighten(#2B2B2B, 10%);
    background: $bg;
    color: mix(white, $bg, 50%);
    font-size: 13px;
    padding: 16px;
    margin-left: $sidebar_width;

    a {
        color: mix(white, $bg, 75%);
        &:hover {
            color: mix(white, $bg, 90%);
        }
    }
}


h2, h3, h4 {
    color: darken($body_color, 10%);
    margin: 10px 0px;
}

p > code, li > code {
    display: inline-block;
    background: #F0F0F0;
    color: darken($body_color, 5%);
    font-family: "range_mono";
    border-radius: 9px;
    padding: 1px 8px;
}

.code_container {
    position: relative;
}

.popup {
    display: none;
    position: absolute;
    top: -16px;
    left: 0px;
    right: 0px;
}

#shroud {
    position: fixed;
    display: none;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0,0,0, .5);
    padding-top: 76px;
    z-index: 3;
}

.lua_code {
    display: none;
}

#shroud-popup {
    width: 1010px;
    background: #333;
    border: 1px solid #777;
    border-left: 0px;
    border-top: 0px;
    color: white;
    box-shadow: 1px 1px 8px rgba(0,0,0, 0.5);
}

#shroud-popup ::-webkit-scrollbar {
    background: #262626;
    width: 8px;
    border-radius: 8px;
}

#shroud-popup ::-webkit-scrollbar-thumb {
    background: #575757;
    border-radius: 8px;
}

#shroud-popup ::-webkit-scrollbar-thumb:hover {
    background: #5f5f5f;
}

#shroud-footer {
    background: #262626;
    border-top: 1px solid #404040;
    text-align: right;
    padding: 4px;
}

pre.shroud-column {
    font-size: 14px;
    max-height: 500px;
    overflow: auto;
}

#left {
    width: 400px;
    margin-left: 16px;
}

#right {
    border-left: 1px dashed #555;
    padding-left: 12px;
    width: 560px;
}

.clear {
    clear: both;
}

.code-header {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(148,146,148)),
        color-stop(1, rgb(214,214,214))
    );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(148,146,148) 0%,
        rgb(214,214,214) 100%
    );
}

.code-header td {
    color: #444;
    font-family: sans-serif;
    text-shadow: 1px 1px 0px #eee;
    font-size: 12px;
    font-weight: bold;

    padding: 2px 6px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #666;
}

/* builtins */
.nb {
    color: #FFA122;
}

/* strings */
.s, .s1, .s2, .se {
    color: #ffe898;
}

/* proper names, self */
.nc, .vc, .bp {
    color: #98d9ff;
}

/* true, false, nil */
.kc {
    color: #acfff0;
}

/* function lit, braces, parens  */
.nf, .kt {
    color: #9fff98;
}

/* operators */
.o, .si {
    color: #ff9898;
}

.nv {
    color: #ff9898;
}

/* keywords */
.k, .kd {
    color: #cb98ff;
}

.c1, .c2 {
    color: #929292;
}

.m, .mi, .mf, .mh {
    color: #9495ff;
}

.rainbow_btn_wrap {
    position: relative;
    display: inline-block;
    height: 36px;
    line-height: 38px;
    padding: 0 20px;
    border-radius: 2px;
    background: #f0f0f0;
    box-shadow: 0 4px 0 #d9d9d8;
}

.rainbow_btn {
    display: block;
    background-image:
    -webkit-linear-gradient(bottom, #f05a7f 0%, #f05a7f 30%, rgba(255,0,0,0) 70%, rgba(255,0,0,0) 100%),
    -webkit-linear-gradient(left,
        rgb(242,119,161),
        rgb(245,138,126),
        rgb(241,191,142),
        rgb(176,216,156),
        rgb(153,203,202),
        rgb(141,153,205),
        rgb(187,132,180),
        rgb(242,119,161)
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 20s linear infinite;

    background-position: 0 -12px;

    color: white;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
        background-position: 0 12px;
    }
}

@-webkit-keyframes rainbow {
  0% {
    background-position-x: 0;
  }
  25% {
    background-position-x: 25em;
  }
  50% {
    background-position-x: 50em;
  }
  75% {
    background-position-x: 75em;
  }
  100% {
    background-position-x: 99em;
  }
}

@font-face {
    font-family: 'range_mono';
    src: url('fonts/range-mono-medium-webfont.eot');
    src: url('fonts/range-mono-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/range-mono-medium-webfont.woff') format('woff'),
         url('fonts/range-mono-medium-webfont.ttf') format('truetype'),
         url('fonts/range-mono-medium-webfont.svg#range_monomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'range';
    src: url('fonts/range-regular-webfont.eot');
    src: url('fonts/range-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/range-regular-webfont.woff') format('woff'),
         url('fonts/range-regular-webfont.ttf') format('truetype'),
         url('fonts/range-regular-webfont.svg#rangeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'range';
    src: url('fonts/range-semibold-webfont.eot');
    src: url('fonts/range-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/range-semibold-webfont.woff') format('woff'),
         url('fonts/range-semibold-webfont.ttf') format('truetype'),
         url('fonts/range-semibold-webfont.svg#rangesemibold') format('svg');
    font-weight: bold;
    font-style: normal;

}

