$link_color: #f05a7f;
$sidebar_width: 200px;
$body_color: #727779;
$main_width: 800px;

@mixin border_box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    transition: $args;
}

@mixin prefixed($prop, $args...) {
    -webkit-#{$prop}: $args;
    -moz-#{$prop}: $args;
    -ms-#{$prop}: $args;
    #{$prop}: $args;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

body {
    font-family: sans-serif;
    background: #F0F0F0;
    color: #727779;
    font-size: 16px;
    margin: 0px;
    padding: 0px;

    &.nice_fonts {
        font-family: "range";
    }

    &.show_lightbox {
        overflow: hidden;

        .shroud {
            display: block;
        }
    }

}

a {
    color: $link_color;
    text-decoration: none;

    &:hover {
        color: lighten($link_color, 5%);
    }
}

.nav {
    width: $sidebar_width;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    bottom: 0;
    color: white;
    background: #2B2B2B;

    a {
        color: lighten(#7A7A7A, 40%);

        &:hover {
            color: lighten(#7A7A7A, 50%);
        }
    }

    .logo {
        text-align: center;
        margin: 20px 0 10px 0;
    }

    h1 {
        display: none;
    }

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        margin-top: 24px;
        margin-left: 24px;
    }

    .primary_nav {
        li {
            line-height: 26px;
            font-size: 15px;
        }

        a {
            $time: 0.3s;
            @include transition(all $time ease);
            color: #7A7A7A;
            position: relative;
            padding-left: 0;

            &:hover, &.active {
                padding-left: 20px;
                color: white;

                &:before {
                    color: #E6E4E4;
                    left: 0;
                }
            }

            &:before {
                @include transition(all $time ease);
                content: "»";
                color: rgba(#E6E4E4, 0);
                position: absolute;
                left: -20px;
            }
        }

    }

    .sharing {
        text-align: left;
        font-size: 0;
        margin-left: 24px;
        margin-top: 24px;

        img {
            width: 20px;
            height: 19px;
            display: inline-block;
            margin-right: 10px;
        }
    }

    .sub_nav {
        color: #7A7A7A;

        li {
            line-height: 24px;
            font-size: 13px;
        }
    }

    .nav_bottom {
        font-size: 13px;
        color: #7A7A7A;
        position: absolute;
        bottom: 20px;
        left: 24px;
        right: 24px;
        line-height: 18px;
    }
}


.main {
    @include border_box;
    @include transition(all 0.5s ease);
    background: white;
    width: $main_width;
    overflow: hidden;
    margin-left: $sidebar_width;
    padding: 0 100px 16px 100px;
    opacity: 1;

    &.obscured {
        margin-left: floor($sidebar_width * 2/3);
        opacity: 0.6;
    }

    .message {
        color: $link_color;
        margin: 0px;
        font-size: 20px;
        text-align: center;
        margin: 30px 20px 0 20px;
        padding: 0 90px 20px 90px;
        line-height: 1.5;
        border-bottom: 1px solid #F0F0F0;
    }

    h2, h3, h4 {
        color: darken($body_color, 10%);
        margin: 10px 0px;
    }

    ul {
        margin: 20px 0px;
    }

    li {
        margin-bottom: 5px;
    }

    p, h2, h3 {
        margin: 26px 0;
    }

    p, ul {
        line-height: 26px;
    }

    p > code, li > code {
        display: inline-block;
        background: #F0F0F0;
        color: darken($body_color, 5%);
        font-family: "range_mono";
        border-radius: 9px;
        padding: 1px 8px;
    }

    pre {
        background: #3C3C3C;
        color: white;
        border-radius: 4px;
        font-family: "range_mono";
        padding: 40px 45px;
        font-size: 14px;
        line-height: 20px;

        code {
            font-family: "range_mono";
        }
    }

    .scroll_spacer {
        height: 300px;
    }
}

.footer {
    font-size: 13px;
    margin-bottom: 8px;
    color: lighten(#727779, 10%);

    a {
        color: darken(#727779, 10%);

        &:hover {
            color: darken(#727779, 20%);
        }
    }
}


.code_container {
    position: relative;

    .see_lua_btn {
        position: absolute;
        top: 12px;
        right: 12px;
    }
}

.shroud {
    @include transition(all 0.3s ease);

    position: fixed;
    display: none;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0,0,0, .5);
    padding: 40px 40px;
    z-index: 3;
    overflow: auto;
    opacity: 0;

    .animate_lightbox & {
        opacity: 1;
    }

}

.lightbox {
    @include transition(all 0.5s ease);

    width: $main_width - 40px;
    margin-left: $sidebar_width + 20px;
    overflow: hidden;
    position: relative;

    color: white;
    background: rgba(#3C3C3C, 0.0);
    border-radius: 4px;
    top: 20px;

    .animate_lightbox & {
        background: rgba(#3C3C3C, 0.95);
        top: 0;
    }

    .close_btn {
        font-size: 22px;
        position: absolute;
        right: 12px;
        top: 16px;
        cursor: pointer;
        color: mix(white, #3C3C3C, 50%);

        &:hover {
            color: mix(white, #3C3C3C, 60%);
        }
    }

    h2 {
        background: #383838;
        padding: 15px 25px;
        margin: 0;
    }

    .lb_code_column {
        font-size: 14px;
        font-family: "range_mono";
        padding: 20px 25px;
        margin: 0;
        font-size: 14px;
        line-height: 20px;
    }
}



/* builtins */
.nb {
    color: #F69385; // new
}

/* strings */
.s, .s1, .s2, .se {
    color: #F1BF8E; // new
}

/* proper names, self */
.nc, .vc, .bp {
    color: #99CBCA; // new
}

/* true, false, nil */
.kc {
    color: #B3EFE5; // new
}

/* function lit, braces, parens  */
.nf, .kt {
    color: #B0D89C; // new
}

/* operators */
.o, .si {
    color: #F277A1; // new
}

.nv {
    color: #F277A1; // new
}

/* keywords */
.k, .kd {
    color: #BB84B4; // new
}

.c1, .c2 {
    color: #929292;
}

// numbers
.m, .mi, .mf, .mh {
    color: #9D8FF2; // new
}

.rainbow_btn_wrap {
    position: relative;
    display: inline-block;
    height: 36px;
    line-height: 38px;
    padding: 0 20px;
    border-radius: 2px;
    background: #f0f0f0;
    box-shadow: 0 4px 0 #d9d9d8;
}

.rainbow_btn {
    display: block;
    font-size: 14px;
    background-image:
    -webkit-linear-gradient(bottom, #f05a7f 0%, #f05a7f 30%, rgba(255,0,0,0) 70%, rgba(255,0,0,0) 100%),
    -webkit-linear-gradient(left,
        rgb(242,119,161),
        rgb(245,138,126),
        rgb(241,191,142),
        rgb(176,216,156),
        rgb(153,203,202),
        rgb(141,153,205),
        rgb(187,132,180),
        rgb(242,119,161)
    );

    @include prefixed(background-clip, text);
    @include prefixed(text-fill-color, transparent);
    @include prefixed(animation, rainbow 30s linear infinite);

    background-position: 0 -12px;

    color: white;
    text-align: center;
    @include transition(all 0.3s ease);

    &:hover {
        background-position: 0 12px;
    }
}

@-webkit-keyframes rainbow {
  0% {
    background-position-x: 0;
  }
  25% {
    background-position-x: 25em;
  }
  50% {
    background-position-x: 50em;
  }
  75% {
    background-position-x: 75em;
  }
  100% {
    background-position-x: 99em;
  }
}

@font-face {
    font-family: 'range_mono';
    src: url('fonts/range-mono-medium-webfont.eot');
    src: url('fonts/range-mono-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/range-mono-medium-webfont.woff') format('woff'),
         url('fonts/range-mono-medium-webfont.ttf') format('truetype'),
         url('fonts/range-mono-medium-webfont.svg#range_monomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'range';
    src: url('fonts/range-regular-webfont.eot');
    src: url('fonts/range-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/range-regular-webfont.woff') format('woff'),
         url('fonts/range-regular-webfont.ttf') format('truetype'),
         url('fonts/range-regular-webfont.svg#rangeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'range';
    src: url('fonts/range-semibold-webfont.eot');
    src: url('fonts/range-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/range-semibold-webfont.woff') format('woff'),
         url('fonts/range-semibold-webfont.ttf') format('truetype'),
         url('fonts/range-semibold-webfont.svg#rangesemibold') format('svg');
    font-weight: bold;
    font-style: normal;

}

