
$default-width: 960px;
$text-color: #002445;

@mixin grad($top, $bottom) {
    background-color: mix($top, $bottom);
    background-image: linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -webkit-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -moz-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -o-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -ms-linear-gradient(bottom, $bottom 0%, $top 100%);
}

body {
    background: #F2F6FA;
    color: $text-color;
    font-family: sans-serif;
    margin: 0px;
}

.header h1 {
    background: #404142;
    margin: 0px;
    color: #F2F6FA;
    padding-left: 10px;
    text-shadow: -1px -1px 0px #2D2D2E;
}

a {
    color: #007BFF;
    text-decoration: none;

    &:hover {
        color: #409CFF;
    }

    &.current {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
}

p {
    line-height: 24px;
    font-size: 16px;
}

.main {
    width: $default-width - 30px * 2;
    margin: 0 30px;
}

h1, h2, h3 {
    color: desaturate(#425E75, 10%);
    text-shadow: 1px 1px 0px white;
    padding-bottom: 2px;

    margin: 30px 0px;
}


h1 {
    padding: 10px 30px;
    font-size: 25px;
    background: #E1E4E8;
}

h2 {
    border-bottom: 1px solid #ADB9C4;
}

h2, h3 {
    font-weight: normal;
}


.code-split, .main > pre {
    background: white;
    border: 1px solid #999;
    margin: 25px 0px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.22);
    border-radius: 1px;
}

.main {
    pre {
        margin: 0px;
        padding: 10px;
    }
}

.code-split {
    .lua-header {
        display: none;
    }

    .code-split-left {
        // border-right: 1px dashed #ddd;
        width: 50%;
    }

    .code-header {
        background: #ABA9AB; 
        @include grad(rgb(214,214,214), rgb(148,146,148));

        color: white;
        text-shadow: 0px -1px 0px #818181;
        font-size: 12px;
        font-weight: bold;

        padding: 3px 10px;
        box-shadow: inset 0px 1px 0px #eee, inset 0px -1px 0px #777;
    }
}


.index {
    h3 {
        margin: 20px 0px;
    }

    .index-list {
        line-height: 24px;
        margin: 20px 0px;
        ul {
            margin: 0px;
        }
    }
}

td {
    vertical-align: top;
}


@mixin bubble_colors($color) {
    background: $color;
    border: 1px solid scale_color($color, $lightness: -20%);
    color: scale_color($color, $lightness: -80%);
}



p, li, a, h3 {
    > code {
        font-size: 14px;
        padding: 1px 8px;

        font-weight: bold;
        border-radius: 9px;

        $color: desaturate(lighten(#007BFF, 48%), 70%);
        @include bubble_colors($color);
    }
}

h3 > code{
    padding: 10px;
    font-size: 18px;
}

a {
    $color: lighten(#007BFF, 48%);
    > code {
        @include bubble_colors($color);
        border-width: 2px;
    }

    &:hover {
        > code {
            @include bubble_colors(lighten($color, 1%));
            border-width: 2px;
        }
    }
}

/* builtins */
.nb {
    color: #707A34;
}

/* strings */
.s, .s1, .s2, .se {
    color: #A16D43;
}

/* proper names, self */
.nc, .vc, .bp, .kc {
    color: #30A0BD;
}

/* function lit, braces, parens  */
.nf, .kt, .p {
    color: #8E4681;
}

/* operators */
.o, .si {
    color: #B50C0C;
}

.nv {
    color: #ff9898;
    color: #893D8C;
}

/* keywords */
.k, .kd {
    color: #0CB56C;
}

.c1, .c2 {
    color: #D74DBF;
}

.m, .mi, .mf, .mh {
    color: #4958C3;
}


.footer {
    color: #747678;
    font-size: 12px;
    margin: 20px 30px;
}

.column {
    float: left;
}

.index {
    margin-left: 20px;
    overflow: hidden;
}

blockquote {
    $color: #eee;
    margin: 25px 0;
    padding: 10px;

    background: $color;
    border: 1px solid darken($color, 10%);
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0,0,0, 0.1), inset 0px 0px 0px 1px rgba(255,255,255,0.3);

    p {
        margin: 0;
        color: lighten(#444, 10%);

        &:first-child {
            &:before {
                content: "Note:";
                margin-right: 10px;
                font-weight: bold;
                color: #444;
            }
        }
    }
}


@media only screen and (max-width: 960px) {
    .main {
        width: auto;
    }

    .code-split {
        table, tr, td {
            display: block;
        }

        .code-split-left {
            width: auto;
        }

        .code-header-right {
            margin-top: 5px;
            border-top: 1px solid #999;
        }
    }

}


