body {
  background: #F2F6FA;
  color: #303132;
  font-family: sans-serif;
  margin: 0px; }

.header h1 {
  background: #404142;
  margin: 0px;
  color: #F2F6FA;
  font-weight: normal; }

a {
  color: #007BFF;
  text-decoration: none; }
  a:hover {
    color: #409CFF; }
  a.current {
    color: #303132;
    font-weight: bold;
    text-decoration: none; }

p {
  font-size: 16px;
  line-height: 26px;
  margin: 26px 0; }

.main {
  width: 900px;
  margin: 0 30px; }

h1, h2, h3, h4 {
  color: #474a4d;
  margin: 30px 0px;
  font-weight: normal; }

h1 {
  padding: 15px 30px;
  font-size: 28px;
  background: #E1E4E8; }

h2 {
  border-bottom: 2px solid #c2c5c8;
  font-size: 24px;
  padding-bottom: 4px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 18px;
  font-weight: bold; }

.code-split, .main > pre {
  background: white;
  border: 1px solid #c2c5c8;
  margin: 26px 0px;
  border-radius: 1px; }

.main pre {
  margin: 0px;
  padding: 10px; }

.code-split .lua-header {
  display: none; }

.code-split .code-split-left {
  width: 50%; }

.code-split .code-header {
  background: #E1E4E8;
  color: #535556;
  font-size: 12px;
  padding: 4px 10px; }

.index {
  margin-left: 30px;
  overflow: hidden; }
  .index h3 {
    margin: 20px 0px; }
  .index .index-list {
    line-height: 24px;
    margin: 20px 0px; }
    .index .index-list ul {
      margin: 0px;
      padding-left: 35px; }

td {
  vertical-align: top; }

p > code, li > code, a > code, h3 > code {
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 4px;
  white-space: nowrap;
  background: #f8fafb;
  border: 1px solid #b7c7d8;
  color: #233141; }

h3 > code {
  padding: 10px;
  font-size: 18px; }

a > code {
  background: #f5faff;
  border: 1px solid #91c6ff;
  color: #003064;
  border-width: 2px; }

a:hover > code {
  background: #fafcff;
  border: 1px solid #95c8ff;
  color: #003165;
  border-width: 2px; }

/* builtins */
.nb {
  color: #707A34; }

/* strings */
.s, .s1, .s2, .se {
  color: #A16D43; }

/* proper names, self */
.nc, .vc, .bp, .kc {
  color: #30A0BD; }

/* function lit, braces, parens  */
.nf, .kt, .p {
  color: #8E4681; }

/* operators */
.o, .si {
  color: #B50C0C; }

.nv {
  color: #ff9898;
  color: #893D8C; }

/* keywords */
.k, .kd {
  color: #0CB56C; }

.c1, .c2 {
  color: #D74DBF; }

.m, .mi, .mf, .mh {
  color: #4958C3; }

.footer {
  color: #747678;
  font-size: 12px;
  margin: 20px 30px; }

.column {
  float: left;
  width: 450px;
  margin-right: 20px; }

blockquote {
  margin: 25px 0;
  padding: 10px;
  background: #edeef1;
  border: 1px solid #d0d4db;
  border-radius: 3px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.3); }
  blockquote p {
    margin: 0;
    color: #434445; }
    blockquote p:first-child:before {
      content: "Note:";
      margin-right: 10px;
      font-weight: bold; }

@media only screen and (max-width: 960px) {
  .main {
    width: auto; }
  .code-split table, .code-split tr, .code-split td {
    display: block; }
  .code-split .code-split-left {
    width: auto; }
  .code-split .code-header-right {
    margin-top: 5px;
    border-top: 1px solid #999; } }
