
$default-width: 960px;
$background: #F2F6FA;
$sub_background: #E1E4E8;

$text_color: mix(black, $background, 80%);
$line_height: 26px;

@mixin grad($top, $bottom) {
    background-color: mix($top, $bottom);
    background-image: linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -webkit-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -moz-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -o-linear-gradient(bottom, $bottom 0%, $top 100%);
    background-image: -ms-linear-gradient(bottom, $bottom 0%, $top 100%);
}

body {
    background: $background;
    color: $text_color;
    font-family: sans-serif;
    margin: 0px;
}

.header h1 {
    background: #404142;
    margin: 0px;
    color: #F2F6FA;
    font-weight: normal;
}

a {
    color: #007BFF;
    text-decoration: none;

    &:hover {
        color: #409CFF;
    }

    &.current {
        color: $text_color;
        font-weight: bold;
        text-decoration: none;
    }
}

p {
    font-size: 16px;
    line-height: 26px;
    margin: 26px 0;
}

.main {
    width: $default-width - 30px * 2;
    margin: 0 30px;
}

h1, h2, h3, h4 {
    color: mix(black, saturate($background, 100%), 70%);
    margin: 30px 0px;
    font-weight: normal;
}


h1 {
    padding: 15px 30px;
    font-size: 28px;
    background: $sub_background;
}

h2 {
    border-bottom: 2px solid mix(black, $background, 20%);
    font-size: 24px;
    padding-bottom: 4px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
    font-weight: bold;
}

.code-split, .main > pre {
    background: white;
    border: 1px solid mix(black, $background, 20%);
    margin: $line_height 0px;
    border-radius: 1px;
}

.main {
    pre {
        margin: 0px;
        padding: 10px;
    }
}

.code-split {
    .lua-header {
        display: none;
    }

    .code-split-left {
        width: 50%;
    }

    .code-header {
        background: $sub_background;
        color: mix($text_color, $sub_background, 80%);

        font-size: 12px;
        padding: 4px 10px;
    }
}


.index {
    margin-left: 30px;
    overflow: hidden;

    h3 {
        margin: 20px 0px;
    }

    .index-list {
        line-height: 24px;
        margin: 20px 0px;

        ul {
            margin: 0px;
            padding-left: 35px;
        }
    }
}

td {
    vertical-align: top;
}


@mixin bubble_colors($color) {
    background: $color;
    border: 1px solid scale_color($color, $lightness: -20%);
    color: scale_color($color, $lightness: -80%);
}



p, li, a, h3 {
    > code {
        font-size: 14px;
        padding: 2px 6px;

        border-radius: 4px;
        white-space: nowrap;

        $color: desaturate(lighten(#007BFF, 48%), 70%);
        @include bubble_colors($color);
    }
}

h3 > code{
    padding: 10px;
    font-size: 18px;
}

a {
    $color: lighten(#007BFF, 48%);
    > code {
        @include bubble_colors($color);
        border-width: 2px;
    }

    &:hover {
        > code {
            @include bubble_colors(lighten($color, 1%));
            border-width: 2px;
        }
    }
}

/* builtins */
.nb {
    color: #707A34;
}

/* strings */
.s, .s1, .s2, .se {
    color: #A16D43;
}

/* proper names, self */
.nc, .vc, .bp, .kc {
    color: #30A0BD;
}

/* function lit, braces, parens  */
.nf, .kt, .p {
    color: #8E4681;
}

/* operators */
.o, .si {
    color: #B50C0C;
}

.nv {
    color: #ff9898;
    color: #893D8C;
}

/* keywords */
.k, .kd {
    color: #0CB56C;
}

.c1, .c2 {
    color: #D74DBF;
}

.m, .mi, .mf, .mh {
    color: #4958C3;
}


.footer {
    color: #747678;
    font-size: 12px;
    margin: 20px 30px;
}

.column {
    float: left;
    width: 450px;
    margin-right: 20px;
}


blockquote {
    $color: lighten($sub_background, 4%);
    margin: 25px 0;
    padding: 10px;

    background: $color;
    border: 1px solid darken($color, 10%);
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0,0,0, 0.1), inset 0px 0px 0px 1px rgba(255,255,255,0.3);

    p {
        margin: 0;
        color: mix($text_color, $color, 90%);

        &:first-child {
            &:before {
                content: "Note:";
                margin-right: 10px;
                font-weight: bold;
            }
        }
    }
}


@media only screen and (max-width: 960px) {
    .main {
        width: auto;
    }

    .code-split {
        table, tr, td {
            display: block;
        }

        .code-split-left {
            width: auto;
        }

        .code-header-right {
            margin-top: 5px;
            border-top: 1px solid #999;
        }
    }

}


