body {
	background: #F2F6FA;
	font-family: sans-serif;
	margin: 0px;
}

.header h1 {
	background: #404142;
	margin: 0px;
	color: #F2F6FA;
	padding-left: 10px;
	text-shadow: -1px -1px 0px #2D2D2E;
}

a:link, a:visited {
	color: #007BFF;
}

a:hover {
	color: #409CFF;
}

a.current {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

p {
	line-height: 140%;
	font-size: 16px;
}

.main {
	width: 960px;
	padding-left: 1em;
}

h1, h2, h3 {
	color: #4B4B4B; 
	text-shadow: 1px 1px 0px white;
	padding-bottom: 2px;

	margin: 0px;
	margin-top: 1.5em;
}

.main h2 {
	border-bottom: 1px solid #7E7979;
}

h1 {
	margin: 0px;
	margin-top: 1em;
	padding: 10px 20px;
	font-size: 40px;
	background: #E1E4E8;
}

table, .bare-code, div > pre {
	background: white;
	border: 1px solid #999;
	margin: 10px 0px;
	-webkit-box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.22);
	-moz-box-shadow:    2px 2px 8px rgba(0, 0, 0, 0.22);
	box-shadow:         2px 2px 8px rgba(0, 0, 0, 0.22);
}

div > pre {
    padding: 8px;
}

.bare-code {
	padding: 8px;
}

td > pre {
	padding: 0px 8px;
	line-height: 18px;
}

.code-border {
	border-right: 1px dashed #ddd;
}

td {
	vertical-align: top;
}

.code-header {
	background: #ABA9AB; 
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(148,146,148)),
		color-stop(1, rgb(214,214,214))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(148,146,148) 0%,
		rgb(214,214,214) 100%
	);
}

.code-header td {
	color: white;
	text-shadow: 0px -1px 0px #555;
	font-size: 12px;
	font-weight: bold;

	padding: 2px 6px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #666;
}

p > code , li > code {
	background: #E1E4E8;
	border-radius: 4px;
	padding: 0px 4px;
}

.l_string {
	color: #A16D43;
	/*
	background: #F9D7BB;
	background: #FFE9D6;
	*/
}
.l_symbol, .l_bold_symbol {
	color: #B50C0C;
}
.l_bold_symbol {
	/* font-weight: bold; */
}
.l_keyword {
	color: #0CB56C;
}
.l_comment {
	color: #D74DBF;
}
.l_fn_symbol {
	color: #8E4681;
}
.l_proper, .l_self_var, .l_special {
	color: #30A0BD;
}
.l_proper {
	font-weight: bold;
}
.l_builtins, .nv {
	color: #707A34;
}
.l_number  {
	color: #4958C3;
}

.footer {
	color: #747678;
	font-size: 80%;
	padding: 8px;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.column {
    float: left;
}

.index {
    margin-left: 20px;
}

h3 > code {
    display: block;
    background: #C3DFFA;
    padding: 1em;
    color: #0075ea;
    text-shadow: 1px 1px 0px #e8f1fa;
    border-bottom: 1px solid #b1cae3;
}


