
body {
	font-family: 'Kreon', serif;
	background: #36393B url('back.png') repeat-x;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}

h1 {
	display: none;
}

#logo {
	margin-top: 8px;
	border-bottom: 1px dashed white;
}

a:link, a:visited {
	color: #EEE6AB;
	text-decoration: none;
}

a:hover {
	color: #CFF9FF;
}

.nav {
	text-align: right;
	width: 150px;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
	color: white;
}

.nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	margin-top: 1em;
}

.nav li {
	line-height: 24px;
}


.offset {
	margin-left: 166px;
}

.main {
	background: #8eebff;
	padding: 0px 16px;
	width: 800px;

	border-left: 2px solid #393c3e;
	border-right: 2px solid #393c3e;
	padding-bottom: 16px;

	box-shadow: 0px 0px 8px #222;
}

.message {
	color: #0091B0;
	text-shadow: 1px 1px 0px #c4f5ff;
	padding: 0px;
	margin: 0px;
	line-height: 60px;
	font-size: 24px;
}

.message a:link, .message a:visited {
	color: #333;
	text-shadow: none;
}

.bubble {
    float: right;
    line-height: 100%;
    background: orange;
    padding: -10px 0px;
    color: #7A4F00;
    font-size: 20px;

    margin-top: 10px;
    padding: 8px 12px;
    box-shadow: 0px 3px 8px rgba(0,0,0, 0.2);
    border-top: 1px solid #FFE8BF;
    border-bottom: 4px solid #DB8E00;
}

.bubble:active {
    border-bottom: 3px solid #DB8E00;
    position: relative;
    top: 1px;
}

.bubble a, bubble a:link {
    color: white;
    text-shadow: 1px 1px 0px #7A4F00;
}

.bubble a:hover {
    color: #FFE8BF;
}

.box {
	padding: 1em 0px;
	margin-bottom: 16px;

	background: #eee;
	border-top: 1px solid white;

	box-shadow: 0px 2px 8px #106b7e;
}

.l_string { color: #ffe898; }
.l_symbol { color: #ff9898; }
.l_keyword { color: #cb98ff; font-weight: bold; }
.l_proper, .l_self_var { color: #98d9ff; }
.l_fn_symbol { color: #9fff98; }

.box a:link, .box a:visited {
	color: #D54747;
	text-decoration: underline;
}

.box a:hover {
	color: #C31717;
}


.main p, .main ul {
	line-height: 24px;
}

.footer {
	background: #1C1C1C;
	color: #696758;
	text-shadow: 1px 1px 0px #322D2D;
	padding: 16px;
	padding-left: 0.5em;
}

.footer a {
	text-shadow: none;
}


h2, h3, h4 {
	color: #45484B;
	text-shadow: 1px 1px 0px white;
	margin: 10px 0px;
}

.main ul {
	margin: 0.5em;
}

.main li {
	margin-bottom: 0.25em;
}


.main p, .main h2, .main h3 {
	padding: 0px 24px;
	text-align: justify;
}

p > code, li > code {
    font-size: 16px;
    background: white;
    color: #564646;
    border-radius: 9px;
    padding: 1px 8px;
    border: 1px solid #CACACA;
}

.main pre {
	background: #333;
	color: white;
	font-size: 16px;

	padding: 16px 24px;

	border-bottom: 1px solid white;
	border-top: 1px solid #808080;

	text-shadow: 0px -1px 0px #111;

}

.see-lua {
	font-family: 'Kreon', serif;
	font-size: 18px;
	font-weight: bold;
	color: #ab1818;
	text-shadow: 1px 1px 0px white;

    cursor: pointer;

	border: 0px;
	float: right;
	margin: 8px 12px 0px 0px;
	padding: 4px 12px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.44, rgb(255,168,168)),
		color-stop(0.72, rgb(255,212,244))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(255,168,168) 44%,
		rgb(255,212,244) 72%
	);
	border-top: 1px solid white;
	border-bottom: 4px solid #983A3A;
	box-shadow: 0px 0px 6px rgba(0,0,0, .5);
}

.see-lua:active {
	position: relative;
	top: 1px;
	border-bottom: 3px solid #983A3A;
}

.code-container {
	position: relative;
}

.popup {
	display: none;
	position: absolute;
	top: -16px;
	left: 0px;
	right: 0px;
}

#shroud {
	position: fixed;
	display: none;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0,0,0, .5);
	padding-top: 76px;
}

.lua-code {
	display: none;
}

#shroud-popup {
	width: 1010px;
	background: #333;
	border: 1px solid #777;
	border-left: 0px;
	border-top: 0px;
	color: white;
    box-shadow: 1px 1px 8px rgba(0,0,0, 0.5);
}

#shroud-popup ::-webkit-scrollbar {
    background: #262626;
    width: 8px;
    border-radius: 8px;
}

#shroud-popup ::-webkit-scrollbar-thumb {
    background: #575757;
    border-radius: 8px;
}

#shroud-popup ::-webkit-scrollbar-thumb:hover {
    background: #5f5f5f;
}

#shroud-footer {
	background: #262626;
	border-top: 1px solid #404040;
	text-align: right;
	padding: 4px;
}

pre.shroud-column {
	font-size: 14px;
	max-height: 500px;
	overflow: auto;
}

#left {
	width: 400px;
	margin-left: 16px;
}

#right {
	border-left: 1px dashed #555;
	padding-left: 12px;
	width: 560px;
}

.clear {
	clear: both;
}

.code-header {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(148,146,148)),
		color-stop(1, rgb(214,214,214))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(148,146,148) 0%,
		rgb(214,214,214) 100%
	);
}

.code-header td {
	color: #444;
	font-family: sans-serif;
	text-shadow: 1px 1px 0px #eee;
	font-size: 12px;
	font-weight: bold;

	padding: 2px 6px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #666;
}

#sharing {
	padding: 16px;
	margin-top: 8px;
	text-align: left;
}

blockquote {
    margin-top: -0.5em;
}


/* builtins */
.nb {
    color: #FFA122;
}

/* strings */
.s, .s1, .s2, .se {
    color: #ffe898;
}

/* proper names, self */
.nc, .vc, .bp {
    color: #98d9ff;
}

/* true, false, nil */
.kc {
    color: #acfff0;
}

/* function lit, braces, parens  */
.nf, .kt {
    color: #9fff98;
}

/* operators */
.o {
    font-weight: bold;
    color: #ff9898;
}

.nv {
    color: #ff9898;
}

/* keywords */
.k, .kd {
    font-weight: bold;
    color: #cb98ff;
}

.c1, .c2 {
    color: #929292;
}

.m, .mi, .mf, .mh {
    color: #9495ff;
}




